@model IEnumerable<ChantalsBooks.Models.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Shop our Products</h2>
    </div>

</div>
@*
@foreach (var product in Model) {
    <div class="card mb-3">
        <h3 class="card-header">@product.Title</h3>
        <div class="card-body">
            <h5 class="card-title">@product.Author</h5>
            <h6 class="card-subtitle text-muted">@product.Category</h6>
        </div>
        <div class="card-body">
            <p class="card-text">@product.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@product.ISBN</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">@product.CoverType</a>
            <a href="#" class="card-link">@product.ListPrice</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
}*@

<br />

<div class="p-4 border-rounded">
    <table id="tblData" class="table table-dark table-striped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-secondary">
                <th>Title</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}

</div>